@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  padding: 0;
	margin: 0;
	box-sizing: border-box;
   
}
/******************************************************************Home Page****************************************************/
/*Header*/
header{
  height: 70vh;
	background-image: linear-gradient(to top, rgba(56, 126, 230, 0.5)0%,rgba(118, 183, 212, 0.7)100%),url('./assets/contact.jpg');
	
	background-size: cover;
	
	background-repeat: no-repeat;
	
	background-attachment: fixed;

	background-position: center;
}
.contenedor{
	width: 90%;
	max-width: 1200px;
	
	overflow: hidden;
	margin: auto;
	
	padding: 60px 0;
	
}

.titulo{
	font-size: 60px;
	margin-bottom: 15px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to top, rgba(123, 163, 231, 0.5)0%,rgba(49, 167, 226, 0.7)100%); 
}

/*En Header*/

/*NavBar*/
.hamburguer{
	/*Fijamos la imagen*/
	position: fixed;
	/*Marcamos cuanto tiene que tener arriba*/
	top: 30px;
	right: 30px;
	
	width: 60px;
	height: 60px;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 0 6px rgba(0, 0, 0,0.5);
	z-index: 5000;
}
.menu-navegacion{
	position: fixed;
	top: 0;
	right: 0;
	width: 30vw;
	height: 100%;
	/*Establecemos la imagen de fondo que es un color degradado*/
	background-image: linear-gradient(180deg, #179de6 0, #0aa6f5 50%, #2224ce 100%);
	/*Acomodamos los elementos*/
	display: flex;
	/*Los dejamos en columna*/
	flex-direction: column;
	/*Con esto se separaran uno de otro los elementos*/
	justify-content: space-evenly;
	align-items: center;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	transition: transform .3s ease-in-out;
	/*Trasladamos, lo ocultamos con ese valor, con valor "0" se vuelve a mostrar*/
	transform: translate(100%);
	z-index: 5000;
}
.menu-navegacion a{
	font-size: 20px;
	color: #fff;
	text-decoration: none; 

	line-height: 50px;
	height: 50px;
	width: 250px;
	transition: all 0.3s;
	position: relative;
}
.menu-navegacion a span{
	transition: all 0.3s;
}
.menu-navegacion a::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.menu-navegacion a:hover span{
	letter-spacing: 2px;
}
.menu-navegacion a:hover::before{
	opacity: 1;	
	transform: scale(1, 1);	
}
.menu-navegacion a::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.menu-navegacion a:hover::after{
	opacity: 0;	
	transform: scale(0.1, 1);
}

/*.menu-navegacion a:hover{
	color: #000;
	font-weight: bold; 
}*/

/*Solo estara activa con el clic en el menu hamburgesa
Aparece el menu de navegacion*/
.spread{
    transform: translate(0);
}
/* Fin NavBar*/

.head{
	padding: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	text-align: center;
}

.input-img{
  display: none;
}
.img-fluid{
  width: 500px;
  height: 300px;

}
.size-font{
  font-weight: bold;
}


.css-button-gradient--2 {
  display: flex;
  justify-content: center;
  width: 200px;
  color: white;
  text-align: center;
  padding: 8px 13px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  font-size: 23px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  border-radius: 10px;
  border: none;
  background-size: 120% auto;
  background: rgb(94,94,236);
  background: linear-gradient(180deg, rgba(94,94,236,1) 0%, rgba(14,193,230,1) 100%)
}
.coll-cal{
  align-items: center;
  width: 300px;
  margin: auto;
  display: flex;
  background: linear-gradient(135deg,#4b99cc 20%,#5656b9 100%,#00d4ff 100%);
  color: #fff;
  font-weight: bold;
  justify-content:center;
}
.exe{
  display: flex;
  justify-content: center;
}
.coll-cal:hover{
  color: #000;
  cursor: pointer;
  
}
.locate-bar{
  display: flex;
  
  
  align-items: flex-start;
  
}
.hide-form{
   display: none;
}
.notification {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 100;
  padding: 1rem 1.5rem;
  background-color: #00a762;
  color: white;
  border-radius: 0.5rem;
}

/*Mid Section*/
.mid{
  height: 30vh;
}
.sub-title{
  color: #000;
  font-size: 35px;
}
/*End Mid Section*/

/*Text*/
.box-1{
  
  align-content: center;
}
.box-2{
  
  align-content: center;
}
.text-box{
  width: 500px;
  height: auto;
}
.items{
  display: flex;
  flex-direction: row;
  border-top: solid 2px #000;
  justify-content: space-around;
  flex-wrap: nowrap;
  text-align: center;
}
.text-c{
  height: 100vh;
}
.text-content{
  font-size: 23px;
  color: #000;
}
.img-txt{
  width: 300px;
  height: auto;
  
}
/*End Text*/

/*Icons*/
.icon-c{
  background-image: linear-gradient(to top, rgba(56, 126, 230, 0.5)0%,rgba(118, 183, 212, 0.7)100%),url('./assets/contact.jpg');
  height: 40vh;
  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;;
}
.carousel-icons{
  height: 90%;
  margin-top: 20px;
  
}
.carousel-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.carousel-img{
  width: 220px;
  height: 250px;
}
.text-carousel{
  font-size: 25px;
}
/*End Icons*/

/*Final*/
.final-comp{
  height: 20vh;
  background: #f5f5f5;
}
.final-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}
.final-text{
  font-size: 20px;
  font-weight: bold;
}
/*End Final*/
/******************************************************Fin Home Page**********************************************************/



/*****************************************************User Info Page**********************************************************/
/*Info Header*/
.info-header{
  height: 100vh;
  background-image: linear-gradient(to top, rgba(57, 60, 189, 0.5)0%,rgba(56, 152, 207, 0.7)100%);
}
.title-info{
   color: #000;
   font-size: 40px;
   margin-bottom: 20px;
   font-weight: bold;
   border-top: solid 1px #000;
   border-bottom:solid 1px #000;

}
.txt-info{
  color: #000;
  font-size: 20px;
}
/*Fin Info Header*/

/*Info Mid*/
.info-mid{
  height: 120vh; 
  
}

.container-mid{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align:left;
  width: 60%;
  margin: auto;
  margin-top: 30px;
justify-content: space-between;

}
.mid-title{
  
   color: #000;
   margin-bottom: 30px;
   font-size: 35px;
   font-weight: bold;
   margin-right: 15px;
}
.mid-text{
  border-left: solid 3px #000;
  color: #000;
  font-size: 25px;
  padding: 7px;
}
.low-box{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 60%;
  margin-top: 60px;
}
.low-img{
  width: 200px;
  height: 200px;
  
}
.low-title{
  font-size: 35px;
  font-weight: bold;
  border-bottom: solid 2px #2224ce;
}
.low-txt{
  font-size: 22px;
}
.btn-box{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.responsive{
  display: none;
}
/*Fin Info Mid*/

/*Info Img*/
.img-comp{
  height: 200vh;
  background-image: linear-gradient(to top, rgba(255, 255, 252, 0.5)0%,rgba(219, 219, 204, 0.7)100%);
  
}
.img-box-title{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
  margin: auto;
}
.img-title{
  font-size: 35px;
  font-weight: bold;
  margin-top: 20px;
  
}
.example-img{
  width: 60%;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: auto;
  margin-top: 30px;
  padding-left: 20px;
}
.img-sample{
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*Fin Info Img*/

/*Final info*/
.final-info{
  height: 20vh;
}
/*Fin Final Info*/
/*****************************************************Fin User Info Page**********************************************************/

/******************************************************Media Page*****************************************************************/
.media-title{
  font-weight: bold;
  border-top: solid 2px #200;
}
.only-responsive{
  display: none;
}

/*Progress Bar Media*/
.step-container {
  width: 100%;
  margin-top: 20px;
}

.progressbar {
  counter-reset: step;
  margin-top: 40px;
}
.progressbar li {
  list-style: none;
  display: inline-block;
  width: 30.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.progressbar li:before {
  content:url('./assets/comprobado.png');
  width: 30px;
  height: 30px;
  line-height : 30px;
  border: 1px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #00a762;
}
.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index : -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: green;
} 
.progressbar li.active + li:after {
  background-color: green;
}
/*********Fin de Progress Bar***********/

.recaptcha{
  z-index: 10000;
}
.form-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/******************************************************Fin Media Page*****************************************************************/

/**********************************************************Map Page*******************************************************************/
.map{
  width: 100vw;
  height: 100vh;
}
/**********************************************************Fin Map Page*******************************************************************/

/************************Responsive************************************/
@media only screen and (max-device-width : 1900px){
  .text-c{
    height: 110vh;
  }
}
@media only screen and (max-device-width : 1800px){
  .info-mid{
     height: 120vh;
  }

}

@media only screen and (max-device-width : 1700px){
  .info-mid{
    height: 140vh;
  }
}

@media only screen and (max-device-width : 1630px){
  .header-info{
    width: 60%;
  }
}
@media only screen and (max-device-width : 1505px){
  .mid-text{
    font-size: 22px;
  }
  .low-txt{
    font-size: 15px;
  }
}
@media only screen and (max-device-width : 1400px){
  .text-c{
    height: 120vh;
  }
  .mid-text{
    font-size: 20px;
  }
  .low-txt{
    font-size: 15px;
  }
  .carousel-img{
    width: 170px;
    height: 170px;
  }

  .img-comp{
    height: 200vh;
    background-image: linear-gradient(to top, rgba(255, 255, 252, 0.5)0%,rgba(219, 219, 204, 0.7)100%);
    
  }
  
  .img-title{
    font-size: 30px;
    
  }
  .img-sample{
    width: 400px;
    height: auto;
    
  }
 .media-page{
  height: 150vh;
 }

}


@media only screen and (max-device-width : 1300px) {
  /*Home Page*/
  .sub-title{
      font-size: 25px;
  }
  .text-content{
    font-size: 16px;
  }
  .img-txt{
    width: 150px;
    height: auto;
  }
  .carousel-img{
    width: 170px;
    height: 130px;
  }
  .text-carousel{
    font-size: 20px;
  }
  .text-c{
    height: 110vh;
  }
 /*Fin Home page*/

  /*Info Page*/
  .title-info{
    font-size: 30px;
 
 }
 .txt-info{
 
   font-size: 17px;
 }
 .info-mid{
  height: 130vh; 
  
}

.mid-title{ 
   font-size: 30px;  
}
.mid-text{
  font-size: 13px;
}
.low-box{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 60%;
  margin-top: 20px;
}
.low-img{
  width: 180px;
  height: 180px;
  
}
.img-comp{
  height: 200vh;
}
.low-title{
  font-size: 26px;
}
.low-txt{
  font-size: 12px;
}
.btn-box{
  margin-top: 10px;
}
.img-sample{
  width: 300px;
  height: auto;
}
 /*Fin Info Page*/
}
@media only screen and (max-device-width : 900px){
  .media-page{
    height: 150vh;
  }
  .img-comp{
    height: 200vh;
  }

}
@media only screen and (max-device-width : 828px){
  .example-img{
    margin-right: 250px;
  }

}
@media only screen and (max-device-width : 760px) {
  .sub-title{
      font-size: 20px;
  }
  .mid-text{
    font-size: 12px;
  }
  .low-title{
    font-size: 15px;
  }
}
@media only screen and (max-device-width : 707px){
    .low-txt{
      font-size: 10px;
    }
}
@media only screen and (max-device-width : 700px) {
  .web-cam{
      display: none;
  }
  .text-content{
    font-size: 13px;
  }
  .example-img{
    margin-right: 300px;
  }
}
@media only screen and (max-device-width : 650px){
  .info-mid{
    height: 160vh;
  }


}
@media only screen and (max-device-width : 600px) {
  .text-carousel{
    font-size: 17px;
  }
  .menu-navegacion{
		width: 50vw;
	}
	
	.menu-navegacion a{
		font-size: 11px;
		
		
		
		width: 100px;
		
	}
	.hamburguer{
		width: 40px;
		height: 40px;
	}
  .responsive{
    display: block;
  }
  .non-responsive{
    display: none;
  }
  .low-box{
    flex-direction: column;
  }
  .example-img{
    flex-direction: column;
  }
}

@media only screen and (max-device-width : 500px) {
  .titulo{
      font-size: 30px;
  }
  .only-responsive{
    display: block;
  }
  .icons-responsive{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
 
.media-page{
  height: 150vh;
}
.info-mid{
  height: 250vh;
}

.items{
  flex-direction: column;
  align-items: center;
}
.img-txt{
width: 100px;
height: auto;
}
.text-box{
width: 400px;
}
.box-2{
margin-top: 20px;
}
.box-1{
margin-top: -30px;
}
.title-info{
  font-size: 20px;
}
.txt-info{
  font-size: 14px;
}

.container-mid{
  flex-direction: column;
}
.img-title{
  font-size: 20px;
}
.example-img{
   margin-right: 100px;
}
.img-sample{
  width: 270px;
  height: auto;
}
 .img-comp{
   height: 220vh;
 } 
 
  .progressbar li {
   
    display: block;
    width: 100%;
    
  }
  .progressbar li:before {
    content:none;
    
   
  }
  .info-header{
     height: 200vh;
  }
  .final-info{
     height: 40vh;
  }
  .progressbar li:after {
    content: none;
    
  }
 .text-box{
    width: 300px;
  }
  .fixed-bar{
    text-align: center;
  }
  .mid{
    height: 70vh;
  }
  .final-comp{
    height: 40vh;
  }

}
